<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div class="container">
        <h1>Ponto adicionado</h1>
        <p class="desc">Clique no botão abaixo para visualizar o placar.</p>
        <div class="buttons">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/'" aria-label="Ir para mostrar placar">
                Mostrar placar
            </button>
        </div>
    </div>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</html>
