<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Pontuação</title>
</head>

<body>
    <h1>Pontuação</h1>
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Pontos</th>
            </tr>
        </thead>
        <tbody>
            {% for time, pontos in placar.items() %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ time }}</td>
                <td>{{ pontos }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</body>

</html>
